.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 12px;
  font-size: small;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button{
  background: lightcoral;
  border: 1px solid whitesmoke;
  padding: 10px 10px;
  color: white;
  font-size: medium;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

